body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    flex: 1;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    flex: 1;
  }
  
  section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }

  /* Ajout de médias requêtes pour les téléphones */
@media (max-width: 767px) {
  /* Pas de changement, le layout reste le même */
  body {
    font-size: 16px; /* Augmentation de la taille du texte pour améliorer la lisibilité */
  }
  header nav ul {
    flex-direction: column; /* Même layout que sur ordinateur */
  }
  #jeu {
    padding: 20px; /* Même padding que sur ordinateur */
  }
  section {
    padding: 15px; /* Réduction du padding pour améliorer la lisibilité sur téléphone */
  }
  h1 {
    font-size: 20px; /* Réduction de la taille du titre pour améliorer la lisibilité sur téléphone */
  }
  button {
    padding: 8px 15px; /* Réduction du padding du bouton pour améliorer la lisibilité sur téléphone */
  }
}