body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#game-container {
    width: 800px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ajustement de la marge du conteneur du jeu */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Image de la personne */
#person-photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px auto; /* Centrer l'image et ajouter une marge au-dessus et en dessous */
    display: block; /* S'assurer que l'image est un bloc indépendant */
}

/* Bouton pour commencer le jeu */
#start-btn {
    margin: 30px auto; /* Centrer et espacer correctement */
    display: block;
}
/* Style des boutons en général */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1B98E0;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px auto; /* Centrer les boutons */
    display: block;
}

button:hover {
    background-color: #247BA0;
}

/* Ajout de médias requêtes pour les téléphones */
@media (max-width: 767px) {
    /* Pas de changement, le layout reste le même */
    body {
      font-size: 16px; /* Augmentation de la taille du texte pour améliorer la lisibilité */
    }
    #game-container {
      width: 90%; /* Réduction de la largeur du conteneur pour améliorer la lisibilité sur téléphone */
      height: 80vh; /* Réduction de la hauteur du conteneur pour améliorer la lisibilité sur téléphone */
    }
    #person-photo {
      width: 80%; /* Réduction de la largeur de l'image pour améliorer la lisibilité sur téléphone */
      height: 60vh; /* Réduction de la hauteur de l'image pour améliorer la lisibilité sur téléphone */
    }
    button {
      padding: 8px 15px; /* Réduction du padding du bouton pour améliorer la lisibilité sur téléphone */
    }
  }
